@charset "ISO-8859-1";



html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: orange;
    background-color: #000040;

    
}

#pic{
	position: relative;
	width: 20px;
}
	
	h1{
		color: yellow;
	}
	
	label{
		float: left;
		width: 6em;
		margin-bottom: 0.5em;
	}
	


	br{
		clear: both;
	}

	p{
		padding: 15px;
	}

	#submit{
		align-self: center;
		margin-left: 0.5em;
	}
	
a {
  color: yellow;
  font-size: 30;
  align-items:  center;
}

.CLIPS{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

/* .CLIPS > div{ */
/* 	padding: 1em; */
/* } */

.clip{
	width: 150px;	
	height: 150px;
	padding: 3em; /* have to specify padding here*/
	text-align: center;
}

.pic{
	width: 100px;
	height: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block; /*have to specify these 3 line to align image to center*/
	margin-left: auto;
	margin-right: auto;
}

/* ----------------------------------------------------------- */

.dropcontainer{ /* Container of the dropdown list*/
	position: relative;
	display: inline-block;
}

.dropbtn{ /* The button*/

	padding: 16px;
	border: none;
	background-color: inherit;
	color: yellow;
}


.dropcontent{ /* the content in each line of the list*/
	display: none;
	position: absolute;
	background-color: orange;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 160px;
	z-index: 1;
}

.dropcontent a{ /* the link inside each line*/
	color: #000040;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropcontent a:hover {background-color: pink;}

/* Show the dropdown menu on hover */
.dropcontainer:hover .dropcontent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropcontainer:hover .dropbtn {background-color: navy;}

/*DEMO FOR EMBEDING VIDEO INTO CANVAS*/
#c {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#v {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -240px;
}